function formatTime(time) {
   var date = getDate(time)
   var month = date.getMonth() + 1 > 9 ? date.getMonth() + 1 : '0' + (date.getMonth() + 1)
   var day = date.getDate() > 9 ? date.getDate() : '0' + date.getDate()
   var hour = date.getHours() > 9 ? date.getHours() : '0' + date.getHours()
   var min = date.getMinutes() > 9 ? date.getMinutes() : '0' + date.getMinutes()
   var result = date.getFullYear() + '-' + month
    + '-' + day + ' ' + hour  + ':' + min
   return result
}

module.exports = {
    formatTime: formatTime
}